.main{
    background: #fff;
    padding: 50px;
    margin: 100px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 8px 8px 10px #dcb9b965;
}

.main h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    background-color: #000000af;
    border-radius: 12px;
}
